<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>REWABO-智慧店小二 主專案</display-name>
  <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>

  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>filter.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>

  <servlet>
    <servlet-name>MessagesServlet</servlet-name>
    <servlet-class>nicp.controller.service.MessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessagesServlet</servlet-name>
    <url-pattern>/messages</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>ServerConnectDataJson</param-name>
    <param-value>/WEB-INF/ServerConnectData.json</param-value>
  </context-param>
  <context-param>
    <param-name>SettingsJson</param-name>
    <param-value>/WEB-INF/settings.json</param-value>
  </context-param>
  <context-param>
    <param-name>DialogFlowJson</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>FoodJson</param-name>
    <param-value>/responseJson/Food.json</param-value>
  </context-param>
  <context-param>
    <param-name>FoodKindsJson</param-name>
    <param-value>/responseJson/FoodKinds.json</param-value>
  </context-param>
  <context-param>
    <param-name>OrderReceiptJson</param-name>
    <param-value>/responseJson/OrderReceipt.json</param-value>
  </context-param>
  <context-param>
    <param-name>OrderOnlineJson</param-name>
    <param-value>/responseJson/OrderOnline.json</param-value>
  </context-param>
  <context-param>
    <param-name>OrderProgressJson</param-name>
    <param-value>/responseJson/OrderProgress.json</param-value>
  </context-param>
  <context-param>
    <param-name>OrderRecordJson</param-name>
    <param-value>/responseJson/OrderRecord.json</param-value>
  </context-param>
  <context-param>
    <param-name>RecommendFoodJson</param-name>
    <param-value>/responseJson/RecommendFood.json</param-value>
  </context-param>
  <context-param>
    <param-name>RestInfoJson</param-name>
    <param-value>/responseJson/RestInfo.json</param-value>
  </context-param>
  <context-param>
    <param-name>ViewOrderJson</param-name>
    <param-value>/responseJson/ViewOrder.json</param-value>
  </context-param>
  <context-param>
    <param-name>WelcomeJson</param-name>
    <param-value>/responseJson/Welcome.json</param-value>
  </context-param>
  <context-param>
    <param-name>ReceiveOrderJson</param-name>
    <param-value>/responseJson/ReceiveOrder.json</param-value>
  </context-param>
  <context-param>
    <param-name>PushInfoJson</param-name>
    <param-value>/responseJson/PushInfo.json</param-value>
  </context-param>
  <context-param>
      <param-name>OfferInfoJson</param-name>
      <param-value>/responseJson/OfferInfo.json</param-value>
  </context-param>
  <context-param>
    <param-name>CreateIntentJson</param-name>
    <param-value>/IntentJson/CreateIntent.json</param-value>
  </context-param>
  <context-param>
    <param-name>UpdateIntentJson</param-name>
    <param-value>/IntentJson/UpdateIntent.json</param-value>
  </context-param>

  <listener>
    <listener-class>listener.SettingsListener</listener-class>
  </listener>
  <listener>
    <listener-class>listener.ConfigConnectDataListener</listener-class>
  </listener>
  <listener>
    <listener-class>listener.JsonPathListener</listener-class>
  </listener>
  <listener>
    <listener-class>listener.ConnectDBListener</listener-class>
  </listener>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>